
%br
%br
%br
%br

.feed-card.mdl-card
  - @posts.each do |post_array|
    - post = post_array[1]
    - if post_array[0].include?('twitter')
      - favorited = false
      - retweeted = false
      - favorited = true if post.favorited?.eql?(true)
      - retweeted = true if post.retweeted?.eql?(true)
      = content_tag :div, nil, class: 'twitter_post', id: "tw_post_#{post.id}" do
        %img.profile_img_twitter{src: post.user.profile_image_url}
        = " @#{post.user.screen_name}"
        %br
        .cont= post.full_text
        %br
        .cont
          = label_tag nil, class: 'favorite_logo' do
            - if favorited
              = content_tag :i, nil, class: 'favorite_obj zmdi zmdi-favorite favorited', id: "tw_fav_#{post.id}", onclick: 'toggleFavorite(\'tw_' + post.id.to_s + '\')'
            - else
              = content_tag :i, nil, class: 'favorite_obj zmdi zmdi-favorite-outline not_favorited', id: "tw_fav_#{post.id}", onclick: 'toggleFavorite(\'tw_' + post.id.to_s + '\')'
            = content_tag :i, post.favorite_count, id: "tw_favcount_#{post.id}"
            
          = label_tag nil, class: 'repost_logo' do
            - if retweeted
              = content_tag :i, nil, class: 'repost_obj zmdi zmdi-repeat reposted', id: "tw_rep_#{post.id}", onclick: 'toggleRepost(\'tw_' + post.id.to_s + '\')'
              - puts 'toggleRepost(\'tw_' + post.id.to_s + '\')'
            - else
              = content_tag :i, nil, class: 'repost_obj zmdi zmdi-repeat not_reposted', id: "tw_rep_#{post.id}", onclick: 'toggleRepost(\'tw_' + post.id.to_s + '\')'
            = content_tag :i, post.retweet_count, id: "tw_repcount_#{post.id}"
            
    - elsif post_array[0].include?('mastodon')
      - favourited = false
      - reblogged = false
      - favourited = true if post.favourited?.eql?(true)
      - reblogged = true if post.reblogged?.eql?(true)
      = content_tag :div, nil, class: 'mastodon_post', id: "ma_post_#{post.id}" do
        %img.profile_img_mastodon{src: post.account.avatar}
        = " @#{post.account.username}"
        %br
        .cont= post.content
        %br
        .cont
          = label_tag nil, class: 'favorite_logo' do
            - if favourited
              = content_tag :i, nil, class: 'favorite_obj zmdi zmdi-favorite favorited', id: "ma_fav_#{post.id}", onclick: 'toggleFavorite(\'ma_' + post.id.to_s + '\')'
            - else
              = content_tag :i, nil, class: 'favorite_obj zmdi zmdi-favorite-outline not_favorited', id: "ma_fav_#{post.id}", onclick: 'toggleFavorite(\'ma_' + post.id.to_s + '\')'
            = content_tag :i, post.favourites_count, id: "ma_favcount_#{post.id}"
            
          = label_tag nil, class: 'repost_logo' do
            - if reblogged
              = content_tag :i, nil, class: 'repost_obj zmdi zmdi-repeat reposted', id: "ma_rep_#{post.id}", onclick: 'toggleRepost(\'ma_' + post.id.to_s + '\')'
            - else
              = content_tag :i, nil, class: 'repost_obj zmdi zmdi-repeat not_reposted', id: "ma_rep_#{post.id}", onclick: 'toggleRepost(\'ma_' + post.id.to_s + '\')'
            = content_tag :i, post.reblogs_count, id: "ma_repcount_#{post.id}"
    %br