%h1 Feed
%p
  %span#current_user= "#{@user.name}"
  is logged in

.dropdown
  %span Settings
  %ul.dropdown-content
    %li
      = link_to('Settings', settings_index_path, :id => 'settings')
    %li
      = link_to('Metrics', settings_metrics_path, :id => 'metrics')
    %li
      = link_to('Accounts', settings_accounts_path, :id => 'accounts')
    %li
      = link_to('Custom Friends', settings_custom_friends_path, :id => 'custom_friends')
    %li
      = link_to('Sign Out', destroy_user_session_path, method: :delete, :id => 'sign_out')
      



%br
.menu_wrapper
  %ul
    %li 
      = link_to('Feed', feeds_index_path, :id => 'feed', :class => 'active')
    %li
      = link_to('Messages', feeds_messages_path, :id => 'messages')
    %li
      = link_to('Post', feeds_post_path, :id => 'post')
    %li
      = link_to('Archives', feeds_archives_path, :id => 'archives')
    %li
      = link_to('Notifications', feeds_notifications_path, :id => 'notifications')

.page_content
  -# @twitter_posts.each do |post|
  -#  .twitter_post
  -#    %p= post.content
  -#    %p= "Retweet Count: #{post.retweet_count}"
  -#    %p= "Favorite Count: #{post.favorite_count}"
  -#  %br


