
%br
%br
%br
%br
.posting_wrapper
  = form_tag(feeds_post_path, :multipart => true, :id => 'post_form') do
    - @providers.each do |provider|
      = label_tag "providers[#{provider}]", class: 'provider_click' do
        = check_box_tag "providers[#{provider}]", 1, false, class: 'hidden'
        = content_tag :i, nil, class: "zmdi zmdi-#{provider.downcase} zmdi-hc-2x", onclick: "toggle#{provider}()"

    %br
    = label_tag :text, 'Text'
    .emoji-picker-container
      = text_area_tag :post_content, nil, data: { emojiable: true }
    %br
    = label_tag :images, 'Upload Images'
    = file_field_tag :images, :name => 'images[]', :multiple => true, accept: 'image/png,image/jpeg'
    %br
    = submit_tag 'Post Status'
    
  - if flash[:notify]
    #notice.message= flash[:notify]
    
#img_container

